{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./", // so @ resolves to root folder
          "@schemas": "./schemas"
        }
      }
    ]
  ]
}
